<meta charset="UTF-8">
<style>
#pimg{
	width:150px;
}
</style>
<script>
function addcart(pid){
	var cid = $('#cid').val();	
	var cnt = $('#'+pid+'cnt').val();
	$.ajax({
		url:'/addcart',
		data:{'uid':cid, 'pid':pid, 'cnt':cnt},
		success:function(data){
			alert('Cart에 넣었습니다.');
		}
	});	
	
}


/* $(document).ready(function(){
	$('#inputcart').click(function(){
		var cid = $('#cid').val();
		var pid = $('#pid').val();
		var cnt = $('#cnt').val();
		$.ajax({
			url:'/addcart',
			data:{'uid':cid, 'pid':pid, 'cnt':cnt},
			success:function(data){
				alert('Cart에 넣었습니다.');
			}
		});
	});
}); */
</script>
<h1 th:text="${menu}+ 'list'">Product List</h1>
<hr>
<div th:each="p:${plist}">
<div class="row row-no-gutters">
	<div class="col-sm-3">
		<img id="pimg" th:src="'/img/'+${p.imgname}">
	</div>
	<div class="col-sm-6">
		<h3 th:text="${p.catename}"></h3>
		<h3 th:text="${p.name}"></h3>
		<h3 th:text="${p.price}"></h3>
	</div>
	<div class="col-sm-3">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" th:data-target="'#'+${p.id}">Order</button>
	</div>
	<!-- Modal -->
	<div th:id="${p.id}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" th:text="${p.name}">Modal Header</h4>
        <img width="400px" th:src="'/img/'+${p.imgname}">
      </div>
      <div class="modal-body">
        <p th:text="${p.catename}"></p>
        <p th:text="${p.price}"></p>
	    </div>
      <div th:if="${session.logincust != null}" class="modal-body">
       		<input type="hidden" th:value="${session.logincust.id}" id="cid">
			<div class="form-group">
			
			
			  <label for="cnt">Count:</label>
				  <select class="form-control" th:id="${p.id}+'cnt'">
				    <option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				  </select>
			</div>
			<button th:onclick="addcart([[${p.id}]])" id="inputcart" type="button" class="btn btn-default">CART</button>
		      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

 	 </div>
	</div>
	<!-- Modal -->
	
	
</div>
<hr>
</div>
